@page
@model CarApplication.Pages.AboutModel
@{
    ViewData["Title"] = "About Us";
}
<h1>About Us</h1>

<p>We are the developers of this project.</p>
<ul>
    <li>Mohammad Aavez Sanghariyat</li>
    <li>Anshul Mohindradoo</li>
    
</ul>
